<!doctype html>
<html lang="en">

<head>
    {% load static %}
    {% include "ponytoon/html_detail/head.html" %}
    <link rel="stylesheet" type="text/css" href="{% static 'personal/ptcss/form.css' %}">
</head>
<body>
    <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
<!-- Navbar -->
{% include "ponytoon/html_detail/navbar.html" %}
<!-- End navbar -->

{% include "ponytoon/html_detail/alerts.html" %}

<div class="auth-wrap">
<section>
    {% if user is not None %}
	<p class="form-title">Your account has been activated successfully</p>
    <div class="pass-comm"><span>Go to <a href="{% url 'index' %}">Home Page</a></span></div>
    {% else %}
    <p class="form-title">Activation link is invalid!</p>
    {% endif %}
</section>
</div>
<!-- Footer -->
{% include "ponytoon/html_detail/footer.html" %}
<!-- End footer -->



    <!-- ALL OF YOUR SITE CODE HERE -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>
