<!doctype html>
<html lang="en">

<head>
    {% load static %}
    {% include "ponytoon/html_detail/head.html" %}
    <link rel="stylesheet" type="text/css" href="{% static 'personal/ptcss/form.css' %}">
</head>
<body>
    <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
<!-- Navbar -->
{% include "ponytoon/html_detail/navbar.html" %}
<!-- End navbar -->

{% include "ponytoon/html_detail/alerts.html" %}

<div class="auth-wrap">
<section>
	<p class="form-title">Change your password</p>
	<form class="site-form" action="{% url 'accounts:password_change' %}" method="post" autocomplete="off" enctype="multipart/form-data">
        <p>If you want to change your account password just fill the form and follow the tips below.</p>
		{% csrf_token %}
        {% load widget_tweaks %}

        {{ form.old_password.errors }}
        {{ form.new_password2.errors }}
        {{ form.new_password1.errors }}

        <label>Old password:</label>
        {% render_field form.old_password class+="form-control" %}

        <label>New password:</label>
        {% render_field form.new_password1 class+="form-control" %}

        <label>New password confirmation:</label>
        {% render_field form.new_password2 class+="form-control" %}

        <br>
        <span class="helptext">
            <ul>
                <li>Your password can’t be too similar to your other personal information.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password can’t be a commonly used password.</li>
                <li>Your password can’t be entirely numeric.</li>
            </ul>
        </span>
		<input type="submit" class="btn" value="Submit">
	</form>
</section>
</div>
<!-- Footer -->
{% include "ponytoon/html_detail/footer.html" %}
<!-- End footer -->



    <!-- ALL OF YOUR SITE CODE HERE -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>
